.col-1 { width: 8.33%}
.col-2 { width: 16.66%}
.col-3 { width: 25%}
.col-4 { width: 33.33%}
.col-5 { width: 41.66%}
.col-6 { width: 50%}
.col-7 { width: 58.33%}
.col-8 { width: 66.66%}
.col-9 { width: 75%}
.col-10 { width: 83.33%}
.col-11 { width: 91.66%}
.col-12 { width: 100%}

[class*='c' ]

.h-50 { height: 50px }
.h-80 { height: 80px }
.h-100 { height: 100px }
.h-500 { height: 500px }
.h-200 { height: 200px }

.bg-r { background-color: red}
.bg-b { background-color: black}
.bg-y { background-color: yellow}
.bg-p { background-color: deeppink}
.fl { float: left; border: 1px solid orangered; box-sizing: border-box}

.row:after{
    content: '';
    clear: both;
    display: block;
}